*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body{
    width: 100%;
    height: 980px;
    background-image: url(../img/background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    
}
ul{
    width: 600px;
    height: 150px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px; 
    margin-left: 700px;  
}
li{
    background-color: #C4C4C4;
    padding: 20px;
    border-radius: 0 20px 0 20px;
}
li a{
    color: #ffffff;
    padding:25px 0;
}
li:hover{
    background-color: #79B331;
}
.active{
    background-color: #79B331;
}
.animation{
    width: 422px;
    height: 188px;
    /* background-color: #C4C4C4; */
    margin-left:750px;
    text-align: center;
    
   
}
.circle{
    width: 32px;
    height: 32px;
    background-color: #79B331;
    border-radius: 50%;
    position: relative;
    animation: spinning 5s infinite;
}
@keyframes spinning {
    0% {top:0; left:0;}
    25% {top:0; left:390px;}
    50% {top:156px; left:390px;}
    75% {top:156px; left:0;}
    100% {top:0; left:0;}   
}
.animationText{
    padding: 20px;
    font-size: 18px;
}
.animationTime{
    font-size: 36px;
}
.treebox{
    width: 1060px;
    height: 500px;
    position: relative;
    margin-left: 280px;
    margin-top: 130px;
    padding-top: 30px;
}
.line{
    width: 2px;
    height: 480px;
    margin: 0 auto;
    background-color: #C4C4C4;
    
}
.fotoli1{
    width: 530px;
    height: 125px;
    position: absolute;
    top:0;
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
}
.fotoli1:hover{
    color: #79B331;
}
.fotoli2{
    width: 530px;
    height: 125px;
    position: absolute;
    top:125px;
    left:530px;
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
}
.fotoli2:hover{
    color: #79B331;
}
.fotoli3{
    width: 530px;
    height: 125px;
    position: absolute;
    top:250px;
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
}
.fotoli3:hover{
    color: #79B331;
}
.fotoli4{
    width: 530px;
    height: 125px;
    position: absolute;
    top:375px;
    left:530px;
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
}
.fotoli4:hover{
    color: #79B331;
}

.treeFotoli1{
    width: 70px;
    height: 70px;
    background-color: #79B331;
    border-radius: 0 35px 0 35px;
}
.treeText1{
    text-align: center;
}
.treeFotoli2{
    width: 70px;
    height: 70px;
    background-color: #79B331;
    border-radius: 35px 0 35px 0;
}
.treeText2{
    text-align: center;
}
.treeFotoli3{
    width: 70px;
    height: 70px;
    background-color: #79B331;
    border-radius: 0 35px 0 35px;
}
.treeText3{
    text-align: center;
}
.treeFotoli4{
    width: 70px;
    height: 70px;
    background-color: #79B331;
    border-radius: 35px 0 35px 0;
}
.treeText4{
    text-align: center;
}

/* magaziebis gverdi */
.magaziebisSatauri{
    margin-left: 800px;
    padding:50px;
}
.mainMagazineContainer{
    width: 420px;
    height: 420px;
    margin-left: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.kContainer1{
    width: 200px;
    height: 200px;
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kContainer1:hover{
    background-color: #79B331;
}
.kContainer2{
    width: 200px;
    height: 200px;
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kContainer2:hover{
    background-color: #79B331;
}
.kContainer3{
    width: 200px;
    height: 200px;
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kContainer3:hover{
    background-color: #79B331;
}
.kContainer4{
    width: 200px;
    height: 200px;
    background-color:#C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kContainer4:hover{
    background-color: #79B331;
}
.magaziebisBolosatauri{
    margin-left: 800px;
    padding:50px;
}
.magazineLastBox{
    width: 420px;
    height: 70px;
    background-color: #C4C4C4;
    margin-left: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.magazineLastBox:hover{
    background-color: #79B331;
}
/* shopis gverdi */

.shopMainBox{
    width: 639px;
    height: 420px;
    margin-top: 100px;
    margin-left: 700px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    
}
.shopKidBox1{
    width: 200px;
    height: 200px;
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopKidBox1:hover{
    background-color: #79B331;
}
.shopKidBox2{
    width: 200px;
    height: 200px;
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopKidBox2:hover{
    background-color: #79B331;
}
.shopKidBox3{
    width: 200px;
    height: 200px;
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopKidBox3:hover{
    background-color: #79B331;
}
.shopKidBox4{
    width: 200px;
    height: 200px;
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopKidBox4:hover{
    background-color: #79B331;
}
.shopKidBox5{
    width: 200px;
    height: 200px;
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopKidBox5:hover{
    background-color: #79B331;
}
.shopKidBox6{
    width: 200px;
    height: 200px;
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopKidBox6:hover{
    background-color: #79B331;
}
.productBox{
    width: 512px;
    height: 336px;
    margin-left: 550px;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 20px;
}
.buttoni1{
    width: 225px;
    height: 38px;
    background-color: #C4C4C4;
    text-align: center;
    border-radius: 0 35px 0 35px; 
    cursor: pointer;   
}
.buttoni1:hover{
    background-color: #79B331;
    color: #ffffff;
}

.buttoni2{
    width: 225px;
    height: 38px;
    background-color: #C4C4C4;
    text-align: center;
    border-radius: 0 35px 0 35px;
    cursor: pointer; 
    
}
.buttoni2:hover{
    background-color: #79B331;
    color: #ffffff;
}
.shoplist{
    width: 152px;
    height: 408px;
    margin-left: 1150px;
    position: absolute;
    top:220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: center;
}



